<!DOCTYPE html>
<html>
  <head>
    <title>Fortune Teller</title>
  </head>

  <body>
    <h1>Welcome to the Fortune Teller!</h1>
    <p> Enter your name please</p>
    <form method = POST>
      <input type="text" name="user"
      <br>
        <input type="submit" value "Get your fortune"
      </form>
  </body>
</html>